body {
    background-image: url("images/moi ibs.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }


h1  {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110px;
    color: white;
    text-align: center;
    padding: 5px;
    margin: 5px;
}

p { font-family: Arial, Helvetica, sans-serif;
    text-align: left, bottom;
    color: white;
    font-size: 15px;
    padding: 10px; 
}

a { 
    text-align: right, bottom;
    color: white;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a:hover {
    color: rgb(51, 51, 51);
}

ul {
    display: inline-block; 
}
/* div {
    box-shadow: 10%;
    background-color: white;
    border-radius: 5px;
} */

.list-inline > li {
        display: inline-block;
        padding: 0px 5px;

      }

.list-inline {
    list-style: none;
    padding-left: 0px;
    }

.header {
    position: relative;
}

    .description {
        position: absolute;
        bottom: 20px;
        left: 20px;
        width: 200px;
    }
   
    .social {
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 200px;
        color: white;
        font-size: 30px;
        
    }
   
    .name {
    
        top: middle;
        left: middle;
    }